@import url('https://fonts.googleapis.com/css?family=Lato');
*,
*::before,
*::after {
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
  font-family: sans-serif;
}
body {
  min-height: 100%;
  margin: 0;
  background: #fff;
}
nav {
    height: 61px;
    width: 1349px;
    background-color: rgba(58,69,84,0.97);
    position: fixed;
    top: 0px;
    transition: all ease 0.2s;
}
nav .mainNav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1140px;
    margin: 0 auto;
}
.mainNavR a {

    color: #eee;
    text-decoration: none;
    font-size: 15px;
    margin-right: 16px;
    cursor: pointer;
    font-family: 'Lato', sans-serif;
}
a:hover {
	background: rgba(0,0,0,0.3);
}
.mainNavR img {
    width: 30px;
    height: 30px;
    border-radius: 15px;
}
.main {
   width: 750px; 
   padding-top: 100px;
   margin: 0 auto;
}
h1{
    font-size: 36px;
    font-family: 'Lato', sans-serif;
    color: #3a4554;
    font-weight: 500;
    line-height: 1.1;
}
.main p{
    font-size: 17px;
    font-weight: normal;
    font-family: 'Lato', sans-serif;
    line-height: 30px;
    margin-bottom: 22px;
    letter-spacing: 0.1px;
}
.text {
    margin: 30px 0px;
    padding: 10px 20px;
    line-height: 33px;
    font-size: 17.5px;
    border-left: 5px solid #eee;
}
.hover {
    color:#1ea69a;
    text-decoration: none;
}
.hover:hover {
    color: #3a4554;
}
footer {
    bottom: 0;
    width: 100%;
    background-color: #3a4554;
    color: #bac1c7;
    padding: 39px 0 42px;
}
.container {
    display: flex;
    justify-content: space-between;
    width: 1170px;
    margin: 0 auto;
}
.container a {
    display: flex;
    align-items: center;
    color: #bac1c7;
    text-decoration: none;
    cursor: pointer;
    font-size: 14px;
}
.container a:hover {
    color: #fff;
}
.TermsPrivacy {
padding: 8px;
}
.teachable a {
    margin-right: 16px;
}
.container img {
    width: 79px;
    height: 17.3px;
}